name: Git action 1

on:
  push:
    branches: [ master ]

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout  
      uses: actions/checkout@v4
      
    - name: Set up Java
      uses: actions/setup-java@v5
      with:
        distribution: "zulu"
        java-version: "21"

    - name: Compile
      run: javac -d out src/*.java

    - name: Run tests
      run: java -cp out CalculadoraTest
    
    - name: Create JAR
      run: jar -cfe executable.jar Main out/*.class

    - name: Run JAR
      run: java -jar executable.jar

    - name: Save artifact
      run: upload-artifact